In [1]:
import pandas as pd

def exchange_seats(seat: pd.DataFrame) -> pd.DataFrame:
    # Create a copy of the DataFrame to avoid modifying the original one
    result = seat.copy()
    
    # Swap the 'student' column for every two consecutive rows
    for i in range(0, len(result) - 1, 2):
        result.at[i, 'student'], result.at[i + 1, 'student'] = result.at[i + 1, 'student'], result.at[i, 'student']
    
    # Return the DataFrame ordered by 'id'
    return result.sort_values('id').reset_index(drop=True)

# Sample DataFrame
data = {
    'id': [1, 2, 3, 4, 5],
    'student': ['Abbot', 'Doris', 'Emerson', 'Green', 'Jeames']
}
df = pd.DataFrame(data)

# Apply the exchange_seats function
result = exchange_seats(df)

# Print the result
print(result)

   id  student
0   1    Doris
1   2    Abbot
2   3    Green
3   4  Emerson
4   5   Jeames