In [1]:
import pandas as pd

# Create the DataFrame
data = {
    'id': [1, 2, 3, 4],
    'name': ['A', 'B', 'C', 'D'],
    'sex': ['m', 'f', 'm', 'f'],
    'salary': [2500, 1500, 5500, 500]
}

df = pd.DataFrame(data)

# Swap 'm' and 'f' values in the 'sex' column
df['sex'] = df['sex'].replace({'m': 'f', 'f': 'm'})

print(df)

   id name sex  salary
0   1    A   f    2500
1   2    B   m    1500
2   3    C   f    5500
3   4    D   m     500